h1{
  
    background-color;initial-letter: 
    font-family
    font-style: itali
    
    border-color: blueviolet

}
body{
  background-color: WHITE
  <style>
  $19500
  "color="blue"
  ;
  </style>
}